
<center>
	
		<td>Day: <%= other_expense.day %></td>
		<td>description<%= other_expense.description %></td>
		<td>amount<%= other_expense.amount %></td>
		<td><%= link_to '<button type="button">Add Receipts</button>'.html_safe, new_trip_other_expense_receipt_path(@trip,other_expense) %><br><br /></td>

 </center>
		



