<div style="padding-left: 8px"><br>
 <% if @trip.user == current_user %>
<h3>Edit this trip </h3><br>
<%= render 'form' %>
<%end%>
</div><br>
<%= link_to '<button type="button">Back</button>'.html_safe, controller: 'trips', class: 'button' %>