<br>


<br>
<% rubyxl(@trip) %>
<center>
<%= link_to '<button class="btn2">Export Trip</button>'.html_safe, trip_download_path(@trip) %>
</br>
 <%= link_to '<button type="button">BAck</button>'.html_safe, [@trip] %><br><br />


</center>