<br>
<center><h1>Trips</h1></center>

<table class = "table table-bordered table-striped">
   <thead>.
      <tr>
         <th>Place and Purpose</th>
         <th>Trip Number</th>
         <th> </th>
      </tr>
   </thead>
   
   <tbody>
      <% @trips.each do |trip| %>
         <%if trip.user_id == current_user.id %>
         <tr>
            <td><%= trip.place %></td>
            <td><%= trip.tripno %></td>
            <td><%= link_to '<button type="button">Show</button>'.html_safe, trip_path(trip) %></td>
         </tr>
         <% end %>
      <% end %>
   </tbody>
   
</table> 

<center><%= link_to '<button class="btn2">Add New Trip</button>'.html_safe, new_trip_path %> </center>

  