<h3>Add a Transportation Expense</h3>
<Br>

<%= render "form" %>
<div style="float:left; padding-left: 8px">
<%= link_to '<button type="button">Cancel</button>'.html_safe, controller: 'transportations', class: 'button' %></div>