<h3>Add a Transportation Expense</h3>
<table>
<%= render "form" %>
</table>
<div style="float:left; padding-left: 8px">
<%= link_to '<button type="button">Cancel</button>'.html_safe, controller: 'transportations', class: 'button' %></div>