<br><br><center>
<div style="font-size: 45px; padding-right: 8px;padding-left: 8px">
<strong>
Welcome to Travel Wise</strong></div>

<div style="font-size: 18px;padding-right: 8px;padding-left: 8px">
Click My Trips to get started.</div>
<br>
<%= link_to '<button class="btn4">My Trips</button>'.html_safe, controller: '/trips' %>  
</center>
