<br>
<center><h1>Receipts</h1></center>

<table class = "table table-bordered table-striped">
   <thead>.
      <tr>
         <th>Name</th>
         <th>Download Link</th>
         <th> </th>
      </tr>
   </thead>
   
   <tbody>
      <% @receipts.each do |receipt| %>
         
         <tr>
            <td><%= receipt.name %></td>
            <td><%= link_to "Download receipt", receipt.attachment_url %></td>
            <td><%= button_to "Delete",  receipt, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{receipt.name}?" %></td>
         </tr>
         
      <% end %>
   </tbody>
   
</table>
<%= link_to '<button type="button">Add new Receipt</button>'.html_safe, new_receipt_path %> 