$font-stack:    Helvetica;
$primary-color: #333;

body {   font: 100% $font-stack;   color: $primary-color; 
}
 #banner{ 	background: #263461; 	width:100%; 	height:115px; 	border-bottom:15px solid #BD262E; }