$font-stack:    Helvetica;
$primary-color: #333;

body {
	font: 100% $font-stack;   	
	color: $primary-color;
}
 
#banner {
	border-top:30px solid #FFFFFF;	
 	background: #263461;
 	position:absolute;
 	height:150px; 	
 	border-bottom:7px solid #BD262E;
 	left: 0;
 	right: 0;
 	top: 0;
}

.btn2{       
  background-color: #1C254C;       
  color: white;      
  border: 1px 
  solid #152244;           
  padding: 13px 30px;           
  text-align: center;           
  font-size: 15px;         
 }