
<tr>

 <td><strong> Amount: </strong>
  <%= transaction.item %></td>
  <td><strong> Amount: </strong>
  $<%= transaction.amount %></td>


<td>

<%= link_to '<button type="button">Delete</button>'.html_safe, trip_transaction_path(transaction),
              method: :delete,
              data: { confirm: 'Delete data?' } %></td>

</tr>