<center>

<h3>Add an Expense</h3><br>
<%= render 'form' %>
</center><br>
<div style="float: left; margin-left: 8px">
<%= link_to '<button type="button">Back</button>'.html_safe, controller: 'transactions', class: 'button' %></div>