<h2>Transactions</h2>
<<<<<<< HEAD
<%= link_to 'Your Trips', controller: 'trips' %>  <br >
<%= link_to 'Transactions', controller: 'transactions' %>
=======
<body background="guy.jpg">
<%= link_to 'All transactions', controller: 'transactions' %><br>

</body>
>>>>>>> 0d90f33599046de19962ebac0ba90950a3328360
