<h1>Listing Transactions</h1>
 <center>
<table>
  <tr>
    <th>Item</th>
    <th>Amount</th>
  </tr>
 
  <% @transactions.each do |transaction| %>
    <tr>
      <td><%= transaction.item %></td>
      <td><%= transaction.amount %></td>
      <td><%= link_to '<button type="button">Show</button>'.html_safe, transaction_path(transaction) %></td>

    </tr>

  <% end %>
</table>

   

</center>
  <%= link_to '<button type="button">New</button>'.html_safe, new_transaction_path %> 